div.profileContainer {
    /*background-color: grey;*/
    overflow: hidden;
    color: grey;
    margin: auto;
    width: 1200px;
    padding: 20px;
}
/*.pure-u-1 {
            padding: 1em;
}


/*
div.actionBar {
    background-color: red;
    color: white;
    margin: 20px 0 20px 0;
    padding: 5px;
    float: right;
    width: 50%;
}



div.reputation {
    background-color: blue;
    color: white;
    margin: 5px 5px 5px 5px;
    padding: 20px;
    width: 200px;
    height: 200px;
    float: right;
    clear: both;
}

div.statistics {
    background-color: orange;
    color: white;
    margin: 5px 5px 5px 5px;
    padding: 20px;
    width: 200px;
    height: 200px;
    float: right;
    clear: both;
}

div.profileInfo {
    background-color: yellow;
    float: right;
    clear: both;
}

div.profileDataFlow {
    background-color: purple;
    margin: 5px 5px 5px 5px;
    width: 200px;
    height: 200px;
    float: left;
    clear: both;
}*/